.container{
  border: 8px solid #000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  margin-bottom: 50px;
}

.timer {
  text-align: center;
  font-size: 50px;
  color: red;
}